services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: watchfriendsdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - watchfriends

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    networks:
      - watchfriends
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: docker
  
  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - watchfriends
    depends_on:
      - config-server
    environment:
      SPRING_PROFILES_ACTIVE: docker
  
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    networks:
      - watchfriends
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/watchfriendsdb
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: pass

  media-service:
    build: ./media-service
    container_name: media-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    networks:
      - watchfriends
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/watchfriendsdb
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: pass
      TMDB_API_KEY: ${TMDB_API_KEY}
  
  watchlist-service:
    build: ./watchlist-service
    container_name: watchlist-service
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    networks:
      - watchfriends
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/watchfriendsdb
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: pass

volumes:
  postgres_data:

networks:
  watchfriends:
    driver: bridge