spring:
    application:
        name: media-service

    datasource:
        url: jdbc:postgresql://localhost:5432/watchfriendsdb
        username: user
        password: pass
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

tmdb:
    api:
        key: ${TMDB_API_KEY}